{
    "title": "C_TITLE",
    "text": "C_TEXT",
    "themeColor": "T_COLOR",
    "potentialAction": [
        {
            "@context": "http://schema.org",
            "@type": "ViewAction",
            "name": "Press it",
            "target": ["B_LINK"]
        }
    ]  
}
